* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --gree-color: #008000;
    --gray-color: #808080;
    --red-color: #ff0000;
}

body {
    background-color: var(--black-color);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

h1 {
    color: var(--white-color);
    font-size: 4rem;
}

.comands {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.comands button {
    width: 100px;
    height: 50px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    color: var(--white-color);
    cursor: pointer;
}

.start-btn {
    background-color: var(--gree-color);
}

.pause-btn {
    background-color: var(--gray-color);
}

.stop-btn {
    background-color: var(--red-color);
}